html, 
body, 
#view-port 
{
    height: 100%;
}

body 
{
    margin: 0;
    padding: 0;
}

/*buttons*/
/*#viewport .dx-button,
{
    width: 80%;
    margin-bottom: 40px;
    padding: 30px 10px;
}*/

#viewport .button-wrap .dx-button{
    margin: 20px;
    width: 85%;
}

#viewport .button-wrap a .dx-button{
    margin: 0px;
    width: auto;
}

#viewport .button-wrap .dx-button .dx-button-content{
    padding: 30px 10px;
}

#viewport .button-wrap .dx-button-text{
    font-size: 21px;
}

#viewport .main-content .button-wrap .dx-button
{
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 5px;
}

#viewport .main-content .button-wrap .dx-button .dx-button-content{
    padding: 10px 5px;
}

#viewport .dx-button-back .dx-button-content{
    padding: 2px 0px;
    margin-left: 0px;
}

#viewport .dx-button-back .dx-button-text{
    font-size: 9pt;
}
/*end buttons*/

#viewport .main-content {
    position: relative;
    width: auto;
    bottom: 0;
    height: auto;
    /*margin-left: 10px;*/
    text-align: center;
    display: inline-block;
}

#viewport .send_email .dx-scrollview-content{
    text-align: center;
}

#viewport .send_email h2{
    margin: 40px 0px;
}

#viewport.dx-theme-win8 .main-content {
    top: 18px;
}

#viewport.dx-theme-android .main-content {
    top: 20px;
}

#viewport.dx-theme-ios .main-content {
    top: 18px;
}

#viewport.dx-theme-ios.dx-device-ios-7 .main-content {
    top: 16px;
}

#viewport.dx-theme-tizen .main-content {
    top: 16px;
}

#viewport.dx-theme-generic .main-content {
    top: 18px;
}

.dx-viewport.dx-theme-ios.dx-version-major-7 .main-content {
    background-color: #EFEFF4;
}

.dx-viewport.dx-theme-ios.dx-version-major-7 .main-content {
    background-color: #EFEFF4;
}

.empty-layout 
{
    height: 100%;
}

.simple-layout
{
    height: 100%;
}

.dx-theme-tizen .main-buttons .dx-button,
.dx-theme-win8 .main-buttons .dx-button
{
    padding-left: 0;
    padding-right: 0;
}

.dx-theme-ios .slider-container 
{
    line-height: 28px;
}

.dx-viewport.dx-theme-ios-typography .dx-fieldset
{
    margin-bottom: 20px;
    margin-top: 10px;
}

.dx-theme-tizen .dx-field-value.dx-editbox {
    margin-top: 0;
}

.dx-theme-tizen .dx-field {
    min-height: 35px;
}

.dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button){
    width: 90%;
    float: none;
    margin: auto;
}
.dx-field-value.dx-radio-group{
    width: 100% !important;
}
.dx-field-value.dx-radio-group .dx-radio-button{
    margin-right: 0px;
}

.home_unactive_head{
    font-size: 16px;
    text-align: justify;
    padding: 20px;
    margin-bottom: 40px;
}

.footer{
    background: grey;
    margin: 10px -15px 0px;
    padding: 10px;
    color: #fff;
}


.dx-theme-ios7 .dx-scrollable-native .dx-scrollable-content{
    min-height: 100%;
}
.dx-theme-ios7 .dx-scrollable-content{
    margin-right: 12px;
}
.dx-theme-android .dx-scrollview-content{
    padding-bottom: 20px;
}


/*custom*/
#viewport .field_email textarea{
    height: 100px;
}

#viewport .send_email .main_content{
    top: 50%;
    left: 50%;
    position: fixed;
    margin-top: -97px;
    margin-left: -100px;
    text-align: center;
}

.main-buttons.dx-content{
    display: block;
    left: 50%;
    margin-left: -50%;
    margin-right: auto;
    /*margin-top: -170px;*/
    /*position: fixed;*/
    text-align: center;
    /*top: 50%;*/
    width: 300px;
}


.main-buttons.dx-content h1{
    margin-bottom: 40px;
}

#viewport .balance{
    display: inline-block;
    padding: 33px 0px;
    margin: 20px;
    width: 85%;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.35),0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.35),0 1px 2px rgba(0,0,0,.15);
    box-shadow: inset 0 1px rgba(255,255,255,.35),0 1px 2px rgba(0,0,0,.15);
    background-color: #eae9e9;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(-90deg,#eae9e9 0%,#e0e0df 100%);
    background-image: -moz-linear-gradient(-90deg,#eae9e9 0%,#e0e0df 100%);
    background-image: -ms-linear-gradient(-90deg,#eae9e9 0%,#e0e0df 100%);
    background-image: -o-linear-gradient(-90deg,#eae9e9 0%,#e0e0df 100%);
    background-image: linear-gradient(180deg,#eae9e9 0%,#e0e0df 100%);
    border: 1px solid rgba(0,0,0,.15);

    font-size: 36pt !important;
}

#viewport .balance.pozitive{
    background: #5cb85c;
    color: #000;
}

#viewport .balance.negative{
    background: #d2322d;
    color: #000;
}

#titleInput{
    width: 85%;
    display: inline-block;
    margin-left: 20px;
}

#viewport .home_register h2{
    margin: 0px 20px 30px 10px;
    text-align: center;
}

.dx-theme-ios-typography .dx-field{
    border-bottom: none !important;
}

.home_register.dx-content{
    display: block;
    left: 50%;
    margin-left: -50%;
    margin-right: auto;
    margin-top: -141px;
    /*position: fixed;*/
    top: 50%;
    width: 300px;
}

.home_register.dx-content .dx-button-text{
    font-size: 14pt !important;
}

.home_register.dx-content .dx-field-value{
    float: none !important;
}

.home_register.dx-content .dx-texteditor-input{
    height: 75px;
    font-size: 48px !important;
}

.home_register.dx-content .dx-placeholder{
    font-size: 48px;
}

.detail_balance .item {
    border-bottom: 2px black;
}

.detail_balance_div.dx-content {
    font-size: 24px;
}
.cashout #messageInput {
    width: 90%;
    border: 0px;
    font-size: 20px;
}

.cashout_process, .no_documents {
    background-color: lightgrey;
    color: red;
    padding: 20px;
    display: none;
    width: 90%;
}
.cashout_success {
    border: 1px solid green;
    color: green;
    padding: 20px;
    display: none;
    width: 90%;
}
.cashout_error {
    border: 1px solid red;
    color: red;
    padding: 20px;
    display: none;
    width: 90%;
}