<div data-options="dxView : { name: 'cashout', title: '@send_email' }">

    <div class="send_email cashout" id="newLogScrollView" data-bind="dxScrollView: { showScrollBar: true }" data-options="dxContent : { targetPlaceholder: 'content' }">
        <div class="main-content">

            <!--<div class="phone-value" data-bind="text: dis_phone"></div>-->
            <h2>Ваш кошелёк:<span class="purse_data"></span> </h2>
            <h2 data-bind="text: '@cashout_text'"></h2>

            <div class="dx-fieldset">
                <div class="dx-field field_email">
                    <input type="number" id="messageInput"/>
                    <!--<div id="messageInput2" class="dx-field-value " data-bind="dxNumberBox: { min: 0, max: 100, showSpinButtons: true, step: 5, value: cashout, placeholder: '@cashout_text' }"></div>-->
                </div>
                <div class="dx-field">
                  <div class="button-wrap" data-bind="dxAction: cashOut">
                    <div data-bind="dxButton: { text: '@send' }" class="cashoutButton"></div>
                  </div>
                </div>
            </div>

            <div style='clear:both'></div>
        </div>
    </div>
</div>


