<div data-options="dxView : { name: 'home', title: '@appletaxi' }">
    <div class="main-buttons" data-bind="dxScrollView: { showScrollBar: true }" data-options="dxContent : { targetPlaceholder: 'content' }">

        <div class="purse">

            <input type="button" class="set_purse" value="Ввести кошелек" data-bind="dxAction: '#set_purse'"/>
            <div class="purse_info">
                <h1>Ваш КИВИ кошелёк:</h1>
                <h1 class="purse_data" data-bind="text: '@purse'"></h1>
            </div>

            <input type="button" class="set_card" value="Ввести номер карты" data-bind="dxAction: '#set_card'"/>
            <div class="card_info">
                <h1>Ваш номер карты:</h1>
                <h1 class="card_data" data-bind="text: '@card'"></h1>
            </div>

            <div class="button-wrap cashout_button" data-bind="dxAction: '#cashout'">
                <!--<div data-bind="dxButton: { text: '@cashout' }"></div>-->
                <br />
                <input type="button" value="Вывод денег"  />
            </div>

            <div class="cashout_process">
                <p>Ваша заявка в процессе обработки</p>
                <p>Ожидайте вывода денежных средств</p>
            </div>
            <div class="no_documents">
                <p>Ждём Вас в офис для оформления документов</p>
            </div>
        </div>
        <br/>
        <div class="button-wrap need_to_update">
            Вам необходимо обновить приложение.<br /><b><a href="#" onclick="window.open('market://details?id=ru.softmg.appletaxidrivers', '_system','location=no')">Нажмите!</a></b>
        </div>

        <h1 data-bind="text: title"></h1>


        <div class="button-wrap" data-bind="dxAction: '#detail_balance'">
            <input type="button"  value="Детализация" data-bind="dxAction: '#detail_balance'"/>
        </div>
        <br />
        <div class="button-wrap" data-bind="dxAction: '#send_photo'">
            <input type="button" class="green"  value="Отправить фото" data-bind="dxAction: '#send_photo'"/>
        </div>

        <div class="balance_block">
            <h1 data-bind="text: '@balance'"></h1>

              <div class="button-wrap">
                <div class="balance">
                    <div data-bind="text: balance"></div>
                    <div class="rent_time">
                        До конца аренды остается:<br />
                        <span></span>
                    </div>

                </div>
              </div>

            <div class="button-wrap credit_button" data-bind="click: credit">
                <input type="button" value="Отсрочка платежа"  /><br>
            </div>

            <div class="button-wrap rent_pay_button" data-bind="dxAction: '#rent_pay'">
                <input type="button" value="Заплатить аренду с таксометра"  />
            </div>
            <!--
              <div class="button-wrap link" data-bind="dxAction: '#send_email'">
                <div data-bind="dxButton: { text: '@write' }"></div>
              </div>--><br>
              <a class="send_mail" data-bind="dxAction: '#send_email'">Написать</a>
        </div>

        <div class="cashout_success">
            <p>Идентифицированный пользователь</p>
            <p>Вывод денежных средств доступен</p>
        </div>
        <div class="cashout_error">
            <p>Вывод денежных средств невозможен</p>
            <p>Требуется пройти идентификацию</p>
            <p>8 (499) 713-91-91</p>
            <p>Проезд Энтузиастов, д.5</p>
            <p>с 10:00 до 16:00</p>
            <p>AppleTaxi</p>
            <p>Необходимые документы: стс, паспорт, лицензия</p>
        </div>
        <div class="car_blocked_error">
            <p>Ваша машина заблокирована, пополните счет или закажите отсрочку</p>
        </div>
        <!--<div>Version: 0.0.9</div>-->
        <div class="view-footer" data-bind="text: version"></div>
    </div>
</div>


