<div data-options="dxView : { name: 'home_register', title: '@appletaxi' }">

    <div class="home_register" data-options="dxContent : { targetPlaceholder: 'content' }">
        <div class="fields">
            <div class="row">
                <div class="title">логин</div>
                <div class="field"><input type="number" id="titleInput" required/></div>
            </div>
            <div class="row">
                <div class="title">пароль</div>
                <div class="field"><input type="password" id="passwordInput" required/></div>
            </div>
        </div>

        <div class="button-wrap" data-bind="dxAction: register">
            <input type="button" class="register" value="вход"  />
        </div>
    </div>
</div>


