<div data-options="dxView : { name: 'home_register', title: '@appletaxi' }">

    <div class="home_register" data-options="dxContent : { targetPlaceholder: 'content' }">
      <h2 data-bind="text: '@title_enter'"></h2>

      <div class="dx-field">
          <input type="number" id="titleInput"/>

          <!--<div id="titleInput" class="dx-field-value" data-bind="dxTextBox: { value: title, placeholder: '@title' }" id="titleInput"></div>-->
      </div>
      <div class="dx-field">
        <div class="button-wrap" data-bind="dxAction: register">
            <!--<div data-bind="dxButton: { text: '@register' }"></div>-->
            <input type="button" class="register" value="Зарегистрироваться"  />
        </div>
      </div>
      <div class="view-footer" data-bind="text: version"></div>

    </div>
</div>


