<div data-options="dxView : { name: 'home', title: '@appletaxi' }">
    <div class="main-buttons" data-bind="dxScrollView: { showScrollBar: true }" data-options="dxContent : { targetPlaceholder: 'content' }">

        <div class="purse">
            <h1>Ваш Киви-Кошелёк:</h1>
            <input type="button" class="set_purse" value="Ввести кошелек" data-bind="dxAction: '#set_purse'"/>
            <h1 class="purse_data" data-bind="text: '@purse'"></h1>

            <div class="button-wrap cashout_button" data-bind="dxAction: '#cashout'">
                <!--<div data-bind="dxButton: { text: '@cashout' }"></div>-->
                <input type="button" value="Вывод денег"  />
            </div>

            <div class="cashout_process">
                <p>Ваша заявка в процессе обработки</p>
                <p>Ожидайте вывода денежных средств</p>
            </div>
            <div class="no_documents">
                <p>Ждём Вас в офис для оформления документов</p>
            </div>
        </div>
        <br/>
        <div class="button-wrap need_to_update">
            Вам необходимо обновить приложение.<br /><b><a href="#" onclick="window.open('market://details?id=ru.softmg.appletaxidrivers', '_system','location=no')">Нажмите!</a></b>
        </div>

        <h1 data-bind="text: '@balance'"></h1>

        <div class="button-wrap" data-bind="dxAction: '#detail_balance'">
            <input type="button"  value="Детализация" data-bind="dxAction: '#detail_balance'"/>
        </div>

        <div class="balance_block">
              <div class="button-wrap">
                <div class="balance" data-bind="text: balance"></div>
              </div>

              <div class="button-wrap" data-bind="dxAction: '#send_email'">
                <div data-bind="dxButton: { text: '@write' }"></div>
              </div>
        </div>

        <div class="cashout_success">
            <p>Идентифицированный пользователь</p>
            <p>Вывод денежных средств доступен</p>
        </div>
        <div class="cashout_error">
            <p>Вывод денежных средств невозможен</p>
            <p>Требуется пройти идентификацию</p>
            <p>8 (499) 713-91-91</p>
            <p>Проезд Энтузиастов, д.5</p>
            <p>с 10:00 до 16:00</p>
            <p>AppleTaxi</p>
            <p>Необходимые документы: стс, паспорт, лицензия</p>
        </div>
        <!--<div>Version: 0.0.9</div>-->
        <div class="view-footer" data-bind="text: version"></div>
    </div>
</div>


